.section{
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: 200px auto;
}

.section-2{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards{
    width: 250px;
    margin: 10px 5px;
}

.cards img{
    border-radius: 5px 5px 0px 0px;
}

@media (max-width: 719px) { 
    .section{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }    
}