/* Estilos para el coruosel del header */
.header{
    height: 60vh;
    margin-bottom: 20px;
}

.header .header-img{
    width: 100%;
    height: 60vh;
}

body{
    background-color: #eaeaea;
}

/* Estilos del menú */
.nav-color{
    background-color: #676767;
}

.logo{
    width: 40px;
}

/* Estilos de main */
.main-index{
    width: 100%;
}

.section-main-index{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px auto;
}

.section-main-index h1{
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px;
}

.section-main-index a{
    text-decoration: none;
    margin-bottom: 10px;
}

.card-main-index{
    width: 18rem;
}

.card-main-index .card-texto{
    text-align: center;
    background-color:#C7C7C7;
    color: #050505;
}

/* Estilos para los iconos */
.prueba{
    width: 100%;
}

.section-medios{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 900px;
    height: 200px;
    margin: auto;
}

.container-icono{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.container-icono span{    
    font-size: 50px;
}

.container-icono-texto{
    margin: auto;
}

.container-icono-texto h4{
    text-align: center;
}

.container-icono-texto p{
    text-align: center;
}


/* Estilos del footer */
footer{
    width: 100%;
    background-color: #676767;
    color: white;
    padding: 40px;
}

.container-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: auto;
    max-width: 1200px;
}

.column1, .column2, .column3{
    max-width: 400px;
}

footer h1{
    font-size: 22px;
}

.column1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.footer-row{
    margin-top: 20px;
    display: flex;
}

.footer-row img{
    width: 36px;
    height: 36px;
}

.footer-row .link{
    color: #C7C7C7;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    
}

.link:hover{
    transition: 1s;
    color: black;
    border-radius: 5px;
}

@media (max-width: 288px) { 
    .card-main-index{
        width: 100%;
    }
}

@media (max-width: 576px) { 
    .container-body{
        flex-direction: column;
    }
    .section-medios{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
    }
    .container-icono span{    
        display: block;
        width: 100%;
        text-align: center;
    }
    .container-icono-texto h4{
        text-align: center;
        display: block;
        width: 100%;
    }
    
    .container-icono-texto p{
        text-align: center;
        display: block;
        width: 100%;
    }
}

@media (max-width: 930px) {
    .column1{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .column2{
        margin-bottom: 40px;
    }
    .header{
        height: auto;
        min-height: 200px;
    }
    
    .header .header-img{
        height: auto;
        min-height: 200px;
    }
}